---
import BaseLayout from "../layouts/BaseLayout.astro";

// apply stylesheets
import '../styles/workStyles.css';

const pageTitle = "WORK";

const allProjects = await Astro.glob("../pages/projects/*.md");
---

<BaseLayout pageTitle={pageTitle}>
    <div class="projects-grid">
        {allProjects.map((post) => (
            <a href={post.url} class="project-item">
                <img src={post.frontmatter.teaserimage} alt={post.frontmatter.title} />
                <h4>{post.frontmatter.title}</h4>
            </a>
        ))}
    </div>
</BaseLayout>
