---
import BaseLayout from "../layouts/BaseLayout.astro";

// apply stylesheets
import "../styles/workStyles.css";

const allProjects = await Astro.glob("../pages/projects/*.md");

const { frontmatter } = Astro.props;
---

<BaseLayout>
    <img src={frontmatter.teaserimage} />
    <h1>{frontmatter.title}</h1>
    <p class="date" >Project completed on: {frontmatter.date}</p>
    <p class="category" >Category: {frontmatter.category}</p>
    <p class="link" >Link: {frontmatter.link}</p>
    <ul>
        <p class="tools">Tools:</p>
		{frontmatter.tools.map( (tool) =>  
			<li>{tool}</li>
		)}
		</ul>

    <slot />

    <ul>
		{frontmatter.images.map( (image) =>  
			<li>{image}</li>
		)}
		</ul>

</BaseLayout>
